.idea/
__pycache__/
app.log

backend/.venv/
backend/__pycache__/
backend/app.log
backend/resources/Images/
backend/resources/images.tar
backend/resources/sqlite3.db
backend/resources/*.json
backend/resources/index.faiss

frontend/node_modules
frontend/package-lock.json